@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubunto", "Poppins";
  list-style: none;
  text-decoration: none;
}
body {
  min-height: 100vh;
  background: #daf3ff;
  overflow-x: hidden;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 33px 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background: transparent;
}
.logo {
  color: black;
  font-size: 30px;
  pointer-events: none;
  margin-right: 270px;
  font-weight: 700;
}
.navlist {
  display: flex;
}
.navlist a {
  text-decoration: none;
  color: black;
  padding: 6px 15px;
  border-radius: 20px;
  font-weight: 600;
  margin: 0 10px;
  margin-left: 60px;
  font-size: 15px;
  transition: all 0.55s ease;
}
.navlist a:hover,
.navlist a.active {
  background: black;
  color: white;
}
.bgvid {
  right: 0;
  bottom: 0;
  z-index: -1;
}
.but a {
  text-decoration: none;
  color: rgb(247, 122, 122);
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 1000;
  margin: 0 10px;
  margin-left: 60px;
  font-size: 50px;
  text-align: center;
  transition: all 0.55s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.but a:hover,
.but a.active {
  background: rgb(247, 122, 122);
  color: white;
}

.nav {
  display: flex;
}
.nav a {
  text-decoration: none;
  color: white;
  padding: 6px 15px;
  border-radius: 20px;
  font-weight: 600;
  margin: 0 10px;
  margin-left: 60px;
  font-size: 15px;
  transition: all 0.55s ease;
  background: rgb(185, 75, 75);
}

.nav a:hover,
.nav a.active {
  
  color: white;
}
.fir {
  background-color: #1A1C27;
  position: relative;
  padding: 100px;
}
.fir tr{
  overflow-x: auto;
}
.fir h2 {
  font-size: 3em;
  color: white;
  margin-bottom: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background: url(DNA.gif) 50% 50%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.fir p {
  font-size: 1.25em;
  color: white;
  font-weight: 100;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}
.custom-shape-divider-bottom-1693556686 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1693556686 svg {
  position: relative;
  display: block;
  width: calc(118% + 1.3px);
  height: 96px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1693556686 .shape-fill {
  fill: #000000;
}
.sec {
  background-color: #000000;
  position: relative;
  padding: 100px;
}
.sec h2 {
  font-size: 3em;
  color: white;
  margin-bottom: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background: url(DNA.gif) 50% 50%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.sec p {
  font-size: 1.25em;
  color: white;
  font-weight: 100;
  text-align: left;
  padding-left: 100px;
  padding-right: 200px;
}
@media (min-aspect-ratio: 16/9) {
  .bgvid {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 9/16) {
  .bgvid {
    width: auto;
    height: 100%;
  }
}
#menu-icon {
  color: white;
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
@media (max-width: 1535px) {
  header {
    padding: 15px 3%;
    transition: 0.2s;
  }
  .icons {
    padding: 0 3%;
  }
  .fir p {
    font-size: 1em;
    color: white;
    font-weight: 100;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
  }
  .sec p {
    font-size: 1em;
    color: white;
    font-weight: 100;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 990px) {
  #menu-icon {
    display: block;
  }
  .navlist {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 60vh;
    background: #7ed0ff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: all 0.55s ease;
    
  }
  .navlist a {
    margin-left: 0;
    display: block;
    margin: 7px 0;
  }
  .navlist.open {
    right: 0;
  }
  .sec p {
    font-size: 1em;
    color: white;
    font-weight: 100;
    text-align: center;
  }
}

footer {
  background-color: #333;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
}

.footer-column {
  width: 30%;
}

.footer-column h3 {
  margin-bottom: 10px;
  color: #fff;
}

.footer-column p {
  font-size: 14px;
  color: #adadad;
}

.footer-column a {
  color: #adadad;
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
}

.footer-column a:hover {
  text-decoration: underline;
}
